/..muttrc.un~
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.bashrc.ORIG
/.cache
/.dotnet
/.config
/.nvm
/.exrc
/.forward
/.gitconfig
/.gnupg
/.inputrc
/.nvm
/nvm
/MailClient
/testScripts
/GradeScript/__pycache__
/GradeScript/studentProfiles
/.ispell_default
/.lesshst
/.local
/.mailrc
/.mailrc.ORIG
/.muttrc
/.muttrc~
/.profile
/.python_history
/.signature
/.ssh
/.tmux.conf
/.viminfo
/.vimrc
/.vmrc
/.vscode
/.vscode-remote-containers
/.vscode-server
/.wget-hsts
/CS260
/CS265
/CS283
/Mail
/TA
/TA-CS265-1
/gradeBashScript
/mailBash
/myMailgrades
/public_html
/sent
/.npm
/.nvm
/test.txt
/test.py
/test.pdf
/.gitignore
.dotnet/corefx/cryptography/crls/7abcc12f.dea36fd7.crl
.dotnet/corefx/cryptography/crls/75d1b2ed.de05bb98.crl
.dotnet/corefx/cryptography/crls/7462804f.d5a68194.crl
.dotnet/corefx/cryptography/crls/d16da424.cbeb964c.crl
.gitignore
.npm/_logs/2023-03-02T00_47_47_105Z-debug-0.log
.npm/_logs/2023-03-02T00_47_47_705Z-debug-0.log
.npm/_logs/2023-03-02T00_50_10_440Z-debug-0.log
.npm/_logs/2023-03-02T17_34_07_669Z-debug-0.log
.npm/_logs/2023-03-02T17_34_10_343Z-debug-0.log
.npm/_logs/2023-03-02T17_34_11_353Z-debug-0.log
.npm/_logs/2023-03-02T17_34_13_925Z-debug-0.log
.npm/_logs/2023-03-02T17_37_01_147Z-debug-0.log
.npm/_logs/2023-03-02T17_42_40_881Z-debug-0.log
.npm/_logs/2023-03-02T17_44_39_197Z-debug-0.log
.npm/_logs/2023-03-02T23_16_33_976Z-debug-0.log
.npm/_logs/2023-03-02T23_16_35_300Z-debug-0.log
.npm/_logs/2023-03-02T23_16_35_527Z-debug-0.log
.npm/_logs/2023-03-02T23_16_37_884Z-debug-0.log
.gitignore
moss
GradeScript/src/__pycache__/c_Shell.cpython-310.pyc
GradeScript/graderProfiles/ss5278.profile
GradeScript/src/__pycache__/c_AssignmentTrack.cpython-310.pyc
GradeScript/src/__pycache__/c_Authenticator.cpython-310.pyc
GradeScript/src/__pycache__/c_DirOrganizer.cpython-310.pyc
GradeScript/src/__pycache__/c_GradeBook.cpython-310.pyc
GradeScript/src/__pycache__/c_GradeCommon.cpython-310.pyc
GradeScript/src/__pycache__/c_Grader.cpython-310.pyc
GradeScript/src/__pycache__/c_Mail.cpython-310.pyc
GradeScript/src/__pycache__/c_Student.cpython-310.pyc
GradeScript/src/__pycache__/c_TerminalUserInterface.cpython-310.pyc
.gradeKey
.gitignore
GradeScript/src/hiddenMethods.py
