/..muttrc.un~
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.bashrc.ORIG
/.cache
/.config
/.exrc
/.forward
/.gitconfig
/.gnupg
/.inputrc
/.ispell_default
/.lesshst
/.local
/.mailrc
/.mailrc.ORIG
/.muttrc
/.muttrc~
/.profile
/.python_history
/.signature
/.ssh
/.tmux.conf
/.viminfo
/.vimrc
/.vmrc
/.vscode
/.vscode-remote-containers
/.vscode-server
/.wget-hsts
/CS260
/CS265
/CS283
/Mail
/TA
/TA-CS265-1
/gradeBashScript
/mailBash
/myMailgrades
/public_html
/sent